html, body, #map {
    height: 100%;
    margin: 0;
}

#count {
    position: fixed;
    top: 10px;
    left: 10px;
    background: rgba(0,0,0,0.6);
    color:white;
    padding: 6px 10px;
    font-family: sans-serif;
    border-radius: 4px;
    z-index: 1000;
}